<div *ngIf="parentToUpdate; let parentToUpdate; else loading">
  <form class="" #parentModForm="ngForm" (ngSubmit)="onSubmitForm(parentModForm)" *ngIf="parentToUpdate">
    <div class="form-row justify-content-around">
      <div class="col-md-4" ngModelGroup="infoParent">
        <div class="form-group">
          <label for="nom">Nom</label>
          <input type="text" id="nom" class="form-control" [(ngModel)]="parentToUpdate.infoParent.nom" name="nom" #nom="ngModel" required>
          <div [hidden]="nom.valid || nom.pristine" class="form-control-feedback text-danger">
            Le nom est requis
          </div>
        </div>
        <div class="form-group">
          <label for="prenom">Prenom</label>
          <input type="text" id="prenom" class="form-control" [(ngModel)]="parentToUpdate.infoParent.prenom" name="prenom" required
            #prenom="ngModel">
          <div [hidden]="prenom.valid || prenom.pristine" class="form-control-feedback text-danger">
            Le prenom est requis
          </div>
        </div>
        <div class="form-group">
          <label for="email">Adresse e-mail</label>
          <input type="text" id="email" class="form-control" [(ngModel)]="parentToUpdate.infoParent.email" name="email" #email="ngModel"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
          <div [hidden]="email.valid || email.pristine || email.errors?.pattern" class="form-control-feedback text-danger">
            Adresse email requise
          </div>
          <div [hidden]="email.pristine || email.untouched" class="form-control-feedback text-danger">
            Le changement de l'adresse mail changera l'identifiant
          </div>
          <div *ngIf="email.errors?.pattern && email.touched" class="form-control-feedback text-danger">
            Format non valide
          </div>
        </div>
        <div class="form-group">
          <label for="adresse">Adresse</label>
          <input type="text" id="adresse" class="form-control" [(ngModel)]="parentToUpdate.infoParent.adresse" name="adresse" #adresse="ngModel"
            required>
          <div [hidden]="adresse.valid || adresse.pristine" class="form-control-feedback text-danger">
            Adresse requise
          </div>
        </div>
        <div class="form-group">
          <label for="ville">Ville</label>
          <input type="text" id="ville" class="form-control" [(ngModel)]="parentToUpdate.infoParent.ville" name="ville" required>
        </div>
      </div>
      <div class="col-md-4 ">
        <div class="form-group">
          <label for="motDePasse">Mot de passe</label>
          <input type="password" id="motDePasse" class="form-control" [(ngModel)]="motDePasse" name="motDePasse" #mdp="ngModel">
        </div>
        <div class="form-group">
          <label for="confMdp">Confirmation mot de passe</label>
          <input type="password" id="confMdp" class="form-control" [(ngModel)]="confirmation" name="confMdp" #confMdp="ngModel">
          <div [hidden]="(confMdp.valid || confMdp.pristine)" class="form-control-feedback text-danger">
            Une confirmation doit etre saisie
          </div>
          <div [hidden]="mdp.value == confMdp.value || !confMdp.valid" class="form-control-feedback text-danger">
            les mots de passe doivent correspondre
          </div>
        </div>
      </div>
    </div>
    <div class="form-row justify-content-around">
      <div class="form-group col-md-2 ">
        <label for="telMobile">Telephone mobile</label>
        <input type="text" id="telMobile" class="form-control" [(ngModel)]="parentToUpdate.infoParent.telMobile" name="telMobile">
      </div>
      <div class="form-group  col-md-2">
        <label for="telFixe">Telephone fixe</label>
        <input type="text" id="telFixe" class="form-control" [(ngModel)]="parentToUpdate.infoParent.telFixe" name="telFixe">
      </div>
      <div class="form-group  col-md-2">
        <label for="telPro">Telephone travail</label>
        <input type="text" id="telPro" class="form-control" [(ngModel)]="parentToUpdate.infoParent.telPro" name="telPro">
      </div>
    </div>


    <div class="form-row justify-content-center">
      <div class="col-md-auto">
        <a class="btn btn-outline-primary" routerLink="../">Retour</a>
        <button type="submit" class="btn btn-outline-primary">Valider</button>
      </div>
    </div>
  </form>
  <p>{{motDePasse}}</p>
  <p *ngIf="parentToUpdate">{{ parentToUpdate | json }}</p>
  <ng-template #loading>Loading User Data...</ng-template>