
    <div class="header">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtre">
        </mat-form-field>
    </div>
    <mat-table #table [dataSource]="dataSource">
  
      <ng-container matColumnDef="nom">
        <mat-header-cell *matHeaderCellDef> Nom </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.nom}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="prenom">
        <mat-header-cell *matHeaderCellDef> Prenom </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.prenom}} </mat-cell>
      </ng-container>
  
      
      <ng-container matColumnDef="dateDeNaissance">
        <mat-header-cell *matHeaderCellDef> Date de naissance </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.dateDeNaissance | date:'dd-MM-yyyy'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="fonction">
        <mat-header-cell *matHeaderCellDef> Fonction </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.fonction}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="typeDeContrat">
        <mat-header-cell *matHeaderCellDef> Contrat </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.typeDeContrat}} </mat-cell>
      </ng-container>

  
      <ng-container matColumnDef="dateDebutContrat">
          <mat-header-cell *matHeaderCellDef> Date embauche </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.dateDebutContrat | date:'dd-MM-yyyy'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="modifier">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let element">
          <button class="btn" routerLink="{{element.id}}">Modifier</button>
        </mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="supprimer">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button class="btn" (click)="onDelete(element.id)">Supprimer</button>
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [length]="5" [pageSize]="10" [pageSizeOptions]="[10, 20, 30]">
    </mat-paginator>
