<div *ngIf="estParent">
  <div *ngIf="journeeEnCours; else erreur" class="activite">
    <h2 class="text-center"> Resumé de la journée du {{journeeEnCours.date | date:'dd-MM-yyyy'}} de {{ enfantSelected.enfantInfo.nom }} {{ enfantSelected.enfantInfo.prenom }} </h2>

    <div *ngIf="journeeEnCours.repas" class="row">
      <h3>Repas
        <mat-icon>expand_more</mat-icon>
      </h3>
      <div *ngFor="let repas of journeeEnCours.repas; let i = index" class="col-12 col-sm-4">
        <p class="text-center boxTitle">
          <mat-icon>restaurant</mat-icon>Repas {{ i + 1 }}</p>
        <dl class="row">
          <dt class="xs-12 col-sm-4">Heure :</dt>
          <dd class="xs-12 col-sm-8">{{ repas.heureDebut | slice:0:5 }}</dd>
          <dt *ngIf="repas.quantite"  class="xs-12 col-sm-4">Quantité :</dt>
          <dd *ngIf="repas.quantite" class="xs-12 col-sm-8">{{ repas.quantite }} ml</dd>
          <dt *ngIf="repas.menu" class="xs-12 col-sm-4">Menu :</dt>
          <dd *ngIf="repas.menu" class="xs-12 col-sm-8">{{ repas.menu }}</dd>
          <dt *ngIf="repas.remarque" class="xs-12 col-sm-4">Remarque :</dt>
          <dd *ngIf="repas.remarque" class="xs-12 col-sm-8">{{ repas.remarque }}</dd>
        </dl>
      </div>
    </div>


    <div *ngIf="journeeEnCours.siestes" class="row">
      <h3>Sommeil
        <mat-icon>expand_more</mat-icon>
      </h3>
      <div *ngFor="let sieste of journeeEnCours.siestes; let i = index" class="col-12 col-sm-4">
        <p class="text-center boxTitle">
          <mat-icon>hotel</mat-icon>Sieste {{ i + 1 }}</p>
        <dl class="row">
          <dt class="xs-12 col-sm-4">Heure :</dt>
          <dd class="xs-12 col-sm-8">{{ sieste.heureDebut | slice:0:5 }} à {{ sieste.heureFin | slice:0:5 }}</dd>
          <dt class="xs-12 col-sm-4" *ngIf="sieste.remarque">Remarque</dt>
          <dd class="xs-12 col-sm-8" *ngIf="sieste.remarque">{{ sieste.remarque }}</dd>
        </dl>
      </div>
    </div>

    <div *ngIf="journeeEnCours.activites" class="row">
      <h3>Activités
        <mat-icon>expand_more</mat-icon>
      </h3>
      <div *ngFor="let activite of journeeEnCours.activites; let i = index" class="col-12 col-sm-4">
        <p class="text-center boxTitle">
          <mat-icon>color_lens</mat-icon>Activite {{ i + 1 }}</p>
        <dl class="row">
          <dt class="xs-12 col-sm-4">Type :</dt>
          <dd class="xs-12 col-sm-8" >{{ activite.typeActivite.typeActivite }}</dd>
          <dt class="xs-12 col-sm-4" *ngIf="activite.remarque">Remarque</dt>
          <dd class="xs-12 col-sm-8" *ngIf="activite.remarque">{{ activite.remarque }}</dd>
        </dl>
      </div>
    </div>
  </div>
  <ng-template #erreur>
    Pas de Journee en cours pour votre enfant
  </ng-template>
</div>
<div *ngIf="!estParent" class="erreur">
  Impossible D'acceder a cette page!
</div>
{{ msgErreur | json}}