<a routerLink = '/dashboard'>dashboard
</a>
<div *ngIf="estParent">
  <div *ngIf="journeeEnCours; else erreur">
   <h2> Resumé de la journée de {{ enfantSelected.enfantInfo.nom }} {{ enfantSelected.enfantInfo.prenom }} </h2> 

    <div *ngIf="journeeEnCours.repas != 0">
      <ul>
        <li class="list-group-item">
          <div *ngFor="let repas of journeeEnCours.repas; let i = index">
            Repas {{ i + 1 }} : pris à {{ repas.heureDebut }} - {{ repas.heureFin }}
            <p *ngIf="repas.quantite"> a bu {{ repas.quantite }} ml</p>
            <p *ngIf="repas.menu"> a mangé {{ repas.menu }}</p>
            <p *ngIf="repas.remarque">Remarque : {{ repas.remarque }}</p>
          </div>
        </li>
      </ul>
    </div>
    <div *ngIf="journeeEnCours.repas == 0">Pas de repas</div>

    <div *ngIf="journeeEnCours.siestes != 0">
      <ul>
        <li class="list-group-item">
          <div *ngFor="let sieste of journeeEnCours.siestes; let i = index">
            Sieste {{ i + 1 }} : de {{ sieste.heureDebut }} à {{ sieste.heureFin }}
            <p *ngIf="sieste.remarque">Remarque : {{ sieste.remarque }}</p>
          </div>
        </li>
      </ul>
    </div>
    <div *ngIf="journeeEnCours.siestes == 0" class="afficheSieste">
      Pas de sieste
    </div>

    <div *ngIf="journeeEnCours.activites != 0">
      <ul>
        <li *ngIf="journeeEnCours.activites" class="list-group-item">
          <div *ngFor="let activite of journeeEnCours.activites; let i = index">
            Activite {{ i + 1 }} : {{ activite.typeActivite.typeActivite }}
            <p *ngIf="activite.remarque">Remarque : {{ activite.remarque }}</p>
          </div>
        </li>
      </ul>
    </div>
    <div *ngIf="journeeEnCours.activites == 0" class="afficheSieste">
      Pas d'activité
    </div>
  </div>
  <ng-template #erreur>
    Pas de Journee en cours pour votre enfant
  </ng-template>
</div>
<div *ngIf="!estParent" class="erreur">
  Impossible D'acceder a cette page!
</div>
{{ msgErreur | json}}