<form #f="ngForm" (ngSubmit)="submit(f)">
  <fieldset>
    <legend>Sieste</legend>
    <div class="form-group">
      <label for="debut">Heure de debut</label>
      <input type="time" class="form-control remarque" id="debut" [(ngModel)]="sieste.heureDebut" name="heureDebut" required>
    </div>
    <div class="form-group">
      <label for="fin">Heure de debut</label>
      <input type="time" class="form-control remarque" id="fin" [(ngModel)]="sieste.heureFin" name="heureFin" required>
    </div>
    <div class="form-group">
      <label for="remarque">Remarque</label>
      <input type="text" class="form-control remarque" id="remarque" [(ngModel)]="sieste.remarque" name="remarque">
    </div>
    <button class="btn" type="submit" [disabled]="f.invalid">ajouter</button>
  </fieldset>
  <!-- <input type="text" ngModel name="firstName" #firstName="ngModel" (change)="doSomething(firstName)"> -->
</form>
<p>{{ sieste | json}}</p>