<mat-dialog-content>
  <div class="activite">
    <ul class="choixInfo">
      <li (click)="informationEnfant()">Ses informations</li>
      <li (click)="informationParents()">Ses parents</li>
    </ul>
  </div>
  <div *ngIf="viewInfo" class="informations">
    <ul>
      <li>Nom : {{ enfantSelected.enfantInfo.nom }}</li>
      <li>Prenom : {{ enfantSelected.enfantInfo.prenom }}</li>
      <li>Date de naissance : {{ enfantSelected.enfantInfo.dateDeNaissance | date:'dd-MM-yyyy' }}</li>
      <li>Section : {{ enfantSelected.section }}</li>
      <li *ngIf="enfantSelected.enfantInfo.allergie">Allergique</li>
      <li *ngIf="enfantSelected.enfantInfo.maladie">Soucis de santé</li>
      <li *ngIf="enfantSelected.enfantInfo.biberon">Prend le biberon</li>
    </ul>
  </div>
  <div *ngIf="viewParent" class="parents">
    <div *ngFor="let parent of enfantSelected.geniteurs; let i = index">
    <h3>Parent {{ i+1 }}</h3>
    <ul>
      <li>Nom : {{ parent.infoParent.nom }}</li>
      <li>Prenom : {{ parent.infoParent.prenom }}</li>
      <li>adresse : {{ parent.infoParent.adresse }}</li>
      <li>ville : {{ parent.infoParent.ville }}</li>
      <li>email : {{ parent.infoParent.email }}</li>
      <li>Telephone fixe : {{ parent.infoParent.telFixe }}</li>
      <li>Telephone mobile : {{ parent.infoParent.telMobile }}</li>
      <li>Telephone professionnel : {{ parent.infoParent.telPro }}</li>
    </ul>
  </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Close</button>
  <!-- <button class="mat-raised-button">Close</button> -->
</mat-dialog-actions>