<!-- <div class="row">
<div class="col-sm-5 col-sm-offset-1">
  <form [formGroup]="UtilisateurForm" (ngSubmit)="onSubmitForm()">
    <div class="form-group">
      <label for="profil">Choisir un profil</label>
      <select id="profil" class="form-control" #p (change)="chargeFormulaire(p.value)" formControlName="profil">
        <option value="employe">Employe</option>
        <option value="parent">Parent</option>
      </select>
    </div>
    <div class="form-group">
      <label for="nom">Nom</label>
      <input type="text" id="nom" class="form-control" formControlName="nom">
    </div>
    <div class="form-group">
      <label for="prenom">Prenom</label>
      <input type="text" id="prenom" class="form-control" formControlName="prenom">
    </div>
    <div class="form-group">
      <label for="email">Adresse e-mail</label>
      <input type="text" id="email" class="form-control" formControlName="email">
    </div>
    <div class="form-group">
      <label for="adresse">Adresse</label>
      <input type="text" id="adresse" class="form-control" formControlName="adresse">
    </div>
    <div class="form-group">
      <label for="ville">Ville</label>
      <input type="text" id="ville" class="form-control" formControlName="ville">
    </div>
    <div class="form-group">
      <label for="telMobile">Telephone mobile</label>
      <input type="text" id="telMobile" class="form-control" formControlName="telMobile">
    </div>
    <div class="form-group">
      <label for="telFixe">Telephone fixe</label>
      <input type="text" id="telFixe" class="form-control" formControlName="telFixe">
    </div>
    <div class="form-group">
      <label for="telPro">Telephone travail</label>
      <input type="text" id="telPro" class="form-control" formControlName="telPro">
    </div>
    

    <button type="submit" class="btn btn-primary">Soumettre</button>
  </form>
</div>
<div class="col-sm-5 col-sm-offset-1">
    <div class="form-group">
        <label for="login">Login</label>
        <input type="text" id="telloginPro" class="form-control" formControlName="login">
      </div>
      <div class="form-group">
        <label for="motDePasse">Mot de passe</label>
        <input type="text" id="motDePasse" class="form-control" formControlName="motDePasse">
      </div>
      <div class="form-group">
        <label for="confMdp">Confirmation mot de passe</label>
        <input type="text" id="confMdp" class="form-control" formControlName="confMdp">
      </div>
</div>
</div> -->
<!-- <button mat-raised-button (click)="isLinear = true" id="toggle-linear">Enable linear mode</button> -->


<mat-horizontal-stepper [linear]="isLinear">
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup" (ngSubmit)="onSubmitForm1()">
      <ng-template matStepLabel>Type Utilisateur</ng-template>
      <div class="info-container">
        <mat-form-field>
          <mat-select id="profil" class="form-control" #p (change)="chargeFormulaire(p.value)" formControlName="profil">
            <mat-option value="EMPLOYE">Employe</mat-option>
            <mat-option value="PARENT">Parent</mat-option>
          </mat-select>
        </mat-form-field>
        <div class="bouton">
          <button mat-button matStepperNext type="submit">Suivant</button>
        </div>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup" (ngSubmit)="onSubmitForm2()">
      <ng-template matStepLabel>Informations Personnelles</ng-template>

      <div class="info-container">
        <mat-form-field *ngIf="!parent">
          <input matInput placeholder="matricule" formControlName="matricule" >
          <!-- <mat-error *ngIf="matricule?.dirty && matricule.untouched">{{ errors.matricule }}</mat-error>
          <mat-error *ngIf="matricule?.errors?.required">{{ errors.matricule }}</mat-error> -->
        </mat-form-field>
        <mat-form-field>
          <input class="element" matInput placeholder="Nom" formControlName="nom" required>
        </mat-form-field>
        <mat-form-field>
          <input class="element" matInput placeholder="Prenom" formControlName="prenom" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Email" formControlName="email" required>
        </mat-form-field>
        <mat-form-field *ngIf="parent">
          <input matInput placeholder="Adresse" formControlName="adresse" required>
        </mat-form-field>
        <mat-form-field *ngIf="parent">
          <input matInput placeholder="Ville" formControlName="ville" >
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Tel Mobile" formControlName="telMobile" required>
          <mat-error *ngIf="telMobile.touched && telMobile?.errors?.pattern">{{errors.telephone}}</mat-error>
        </mat-form-field>
        
        <mat-form-field *ngIf="parent">
          <input matInput placeholder="Tel Fixe" formControlName="telFixe" >
        </mat-form-field>
        <mat-form-field *ngIf="parent">
          <input matInput placeholder="Tel Pro" formControlName="telPro">
        </mat-form-field>
        <mat-form-field *ngIf="!parent">
          <input matInput placeholder="Fonction" formControlName="fonction" >
        </mat-form-field>
        <div class="bouton">
          <button mat-button matStepperPrevious>Precedent</button>
          <button mat-button type="submit" matStepperNext>Suivant</button>
        </div>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup" (ngSubmit)="onSubmitForm3()">
      <ng-template matStepLabel>Mot de passe</ng-template>
      <div class="info-container">
        <mat-form-field>
          <input matInput type="password" placeholder="Mot de Passe" formControlName="motDePasse" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Confirmation mot de passe" formControlName="confMdp" [errorStateMatcher]="confirmValidParentMatcher">
          <mat-error>
              {{errors.confMdp}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="bouton">
        <button mat-button matStepperPrevious>Precedent</button>
        <button mat-button matStepperNext type="submit">Suivant</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Ajout</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Precedent</button>
      <button mat-button (click)="onSubmitForm()">Creation</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
