mat-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
  }
  .signin-content {
    padding: 40px 1rem;
  }
  .full-width-input {
    width: 100%;
  }

.titre{
  font-size: 28px;
  margin-top: 30px;
}