<h2 mat-dialog-title >demarrer activite</h2>

<mat-dialog-content>
  <div class="activite">
    <ul class="">
      <li (click) = "debuterActivite()">Demarrer une activité</li>
      <li (click) = "ajouterSieste()">Renseigner une sieste</li>
      
      <li (click) = "ajouterRepas()">Donner un repas</li>
    </ul>
  </div>
  <app-activite *ngIf="activite" [journee]= "journee" (afficheComponent)="onAffichedActivite($event)"></app-activite>
  <app-sieste *ngIf="sieste" [journee]= "journee" (afficheComponent)="onAffichedSieste($event)"></app-sieste>
  <app-repas *ngIf="repas" [journee]= "journee" (afficheComponent)="onAffichedRepas($event)"></app-repas>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Close</button>
  <!-- <button class="mat-raised-button">Close</button> -->
</mat-dialog-actions>