<h2 mat-dialog-title class="text-center">Resumé de la journée de {{ enfantSelected.enfantInfo.nom }} {{ enfantSelected.enfantInfo.prenom }}</h2>

<mat-dialog-content>
  <div class="activite">
    <div *ngIf="journeeEnCours.repas" class="row">
      <h3>Repas<mat-icon>expand_more</mat-icon></h3>
      <div *ngFor="let repas of journeeEnCours.repas; let i = index" class="col-12 col-sm-4">
        <p class="text-center boxTitle"><mat-icon>restaurant</mat-icon>Repas {{ i + 1 }}</p> 
        <dl>
          <dt>Heure :</dt>
          <dd>{{ repas.heureDebut | slice:0:5 }} </dd>
          <dt *ngIf="repas.quantite">Quantité :</dt>
          <dd *ngIf="repas.quantite">{{ repas.quantite }} ml</dd>
          <dt *ngIf="repas.menu">Menu :</dt>
          <dd *ngIf="repas.menu">{{ repas.menu }}</dd>
          <dt *ngIf="repas.remarque">Remarque :</dt>
          <dd *ngIf="repas.remarque">{{ repas.remarque }}</dd>
        </dl> 
      </div>
    </div>
    <div *ngIf="journeeEnCours.siestes" class="row">
      <h3>Sommeil<mat-icon>expand_more</mat-icon></h3>
      <div *ngFor="let sieste of journeeEnCours.siestes; let i = index" class="col-12 col-sm-4">
          <p class="text-center boxTitle"><mat-icon>hotel</mat-icon>Sieste {{ i + 1 }}</p> 
          <dl>
            <dt>Heure :</dt>
            <dd>{{ sieste.heureDebut | slice:0:5 }} à {{ sieste.heureFin | slice:0:5 }}</dd>          
            <dt *ngIf="sieste.remarque">Remarque</dt> 
            <dd *ngIf="sieste.remarque">{{ sieste.remarque }}</dd>
          </dl>
      </div>
    </div>
    <!-- <div *ngIf="!journeeEnCours.siestes" class="afficheSieste">
      <p class="text-center">pas de sieste aujourd'hui</p>
    </div> -->
    <div *ngIf="journeeEnCours.activites" class="row">
      <h3>Activités<mat-icon>expand_more</mat-icon></h3>
      <div *ngFor="let activite of journeeEnCours.activites; let i = index" class="col-12 col-sm-4">
          <p class="text-center boxTitle"><mat-icon>color_lens</mat-icon>Activite {{ i + 1 }}</p> 
          <dl>
            <dt>Type :</dt>
            <dd>{{ activite.typeActivite.typeActivite }}</dd>          
            <dt *ngIf="activite.remarque">Remarque</dt> 
            <dd *ngIf="activite.remarque">{{ activite.remarque }}</dd>
          </dl>
      </div>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button float-right" (click)="close()">Close</button>
  <!-- <button class="mat-raised-button">Close</button> -->
</mat-dialog-actions>

<!--
<h2> Resumé de la journée de {{ enfantSelected.enfantInfo.nom }} {{ enfantSelected.enfantInfo.prenom }} </h2>

<ul>
    <h4>repas</h4>
<li *ngIf="journeeEnCours.repas" class="list-group-item">
  <div *ngFor="let repas of journeeEnCours.repas; let i = index">
    Repas {{ i + 1 }} : pris à {{ repas.heureDebut }} - {{ repas.heureFin }}
    <p *ngIf="repas.quantite"> a bu {{ repas.quantite }} ml</p>
    <p *ngIf="repas.menu"> a mangé {{ repas.menu }}</p>
    <p *ngIf="repas.remarque">Remarque : {{ repas.remarque }}</p>
  </div>
</li>
<h4>sieste</h4>
<li *ngIf="journeeEnCours.siestes" class="list-group-item">
  <div *ngFor="let sieste of journeeEnCours.siestes; let i = index">
    Sieste {{ i + 1 }} : de {{ sieste.heureDebut }} à {{ sieste.heureFin }}
    <p *ngIf="sieste.remarque">Remarque : {{ sieste.remarque }}</p>
  </div>
</li>
<div *ngIf="!journeeEnCours.siestes" class="afficheSieste">
  pas de sieste aujourd'hui
</div>
<h4>activite</h4>
<li *ngIf="journeeEnCours.activites" class="list-group-item">
  <div *ngFor="let activite of journeeEnCours.activites; let i = index">
    Activite {{ i + 1 }} : {{ activite.typeActivite.typeActivite }}
    <p *ngIf="activite.remarque">Remarque : {{ activite.remarque }}</p>
  </div>
</li>
</ul>-->