/* header{
    height: 100px;
    
    background-color: #af99ff;
    border-bottom: 5px solid #f62459;
    display:flex;
    
    
}

#logo{
    background-image: url("../resources/images/logo.png");
    position: absolute;
    left:0;
    top:20px;

}

h1{
    margin:auto;
} */

.fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    margin: auto;
  }