<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>
<div class="row">
    <div class="col-md-6 offset-md-3 text-center">
        <a routerLink = 'gestion/utilisateur'>creer utilisateur</a>
        <a routerLink = 'gestion/listeUtilisateur'>liste utilisateur</a>
        <a routerLink = 'gestion/enfant'>creer enfant</a>
        <a routerLink = 'gestion/listeEnfants'>liste enfants</a>
    </div>
</div>
<div class="col-md-8 offset-md-2 contenu">
<router-outlet></router-outlet>
</div>

