<div >
  <div class="card" >
      <div class="card-body">
        <h5 class="card-title">Section des {{ section }}</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a routerLink="/section" class="card-link">Acceder a la section</a>
      </div>
  </div>
</div>
<div class="remarques">
  <h3 class="text-center">Remarques</h3>

    <blockquote>
        <mat-icon>format_quote</mat-icon>
        Some quick example text to build on the card title and make up the bulk of the card's ...
        <mat-icon>format_quote</mat-icon>
    </blockquote>
  </div>
